<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><?js= title ?> | <?js= env.conf.brixy.shortname ?></title>

	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<script src="scripts/prettify/prettify.js"> </script>
	<script src="scripts/prettify/lang-css.js"> </script>
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
	
	<link rel="stylesheet" href="styles/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="styles/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="styles/grids-responsive-min.css">
<!--<![endif]-->
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>
	<div class="content">
		<div id="header">
			<div class="menu"><a class="button" href="../Guide/index.html">User Guide</a> <a class="button" href="https://github.com/itantik/brixy">GitHub</a></div> <a href="../index.html" class="title">Brixy</a> <a href="./index.html">API reference</a>
		</div>
		
		<div class="page">
			<div class="pure-g">
				<div id="main-column" class="pure-u-1-1 pure-u-md-2-3">
					<div class="pad-box">
						<a href="#" id="toggle-column">&#x25ba;</a>
						<h1 class="page-title"><?js= title ?></h1>
						<?js= content ?>
					</div>
				</div>
				<div id="side-column" class="pure-u-1-1 pure-u-md-1-3">
					<div class="pad-box">
						<div class="side-menu-wrap">
							<?js= this.nav ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="footer">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<h3>Brixy</h3>
					<p>Version <?js= env.conf.brixy.version ?>.</p>
					<p>Extend Script module system and MVC framework.</p>
					<p>&copy; 2015 - <?js= (new Date()).getFullYear() ?>, Stanislav Antos</p>
					<p>API Reference generated by <a href="https://github.com/jsdoc3/jsdoc" target="_blank">JSDoc <?js= env.version.number ?></a></p>
				</div>
			</div>
		</div>
	</div>

	<script> prettyPrint(); </script>
	<script src="scripts/linenumber.js"> </script>
	<script src="scripts/jquery.js"> </script>
	<script src="scripts/scripts.js"> </script>
</body>
</html>
